%h2
  = @team.name
	
- @team.bowlers.each do |b|
  %li
    = b.name

/ = link_to "New Game", new_team_team_game_path(@team.id)

%button.create_game "New Game"

%div.game_form
  = form_tag(team_team_games_path(@team.id), method: "post") do
    - @team.bowlers.each do |bowler|
      = render 'game_form', :bowler => bowler
    = submit_tag