%h2 
	= @bowler.name

%div.info
	.average
		%h4 Average: 
		= @bowler.average

	.teams
		%h4 My Teams:
		- @bowler.teams.each do |t|
			%li 
				= link_to t.name, team_path(t.id)
		= link_to "Join New Team", new_bowler_team_path(current_bowler.id)

%button.new "New Game"
%button.hide "Hide"

%div.game_form
	= form_for @game do |f|
		= f.fields_for :frames do |d|
			= d.label :frame_1
			= d.text_field :frame_1_a
			= d.text_field :frame_1_b
			= d.label :frame_2
			= d.text_field :frame_2_a
			= d.text_field :frame_2_b
			= d.label :frame_3
			= d.text_field :frame_3_a
			= d.text_field :frame_3_b
			= d.label :frame_4
			= d.text_field :frame_4_a
			= d.text_field :frame_4_b
			= d.label :frame_5
			= d.text_field :frame_5_a
			= d.text_field :frame_5_b
			= d.label :frame_6
			= d.text_field :frame_6_a
			= d.text_field :frame_6_b
			= d.label :frame_7
			= d.text_field :frame_7_a
			= d.text_field :frame_7_b
			= d.label :frame_8
			= d.text_field :frame_8_a
			= d.text_field :frame_8_b
			= d.label :frame_9
			= d.text_field :frame_9_a
			= d.text_field :frame_9_b
			= d.label :frame_10
			= d.text_field :frame_10_a
			= d.text_field :frame_10_b
			= d.text_field :frame_10_c
		= f.label :final_score
		= f.text_field :score
		= hidden_field_tag :bowler_id, current_bowler.id
		= f.submit



