%h2 
	%p
		= @bowler.name
	%p
		- @games.each do |g|
			= g.score
			= g.frames

= link_to "New Game", new_individual_game_path

= link_to "My Teams", teams_path

= link_to "Join New Team", new_bowler_team_path(current_bowler.id)

