<div id="main_page" class="container">
  <div class="panel-group" id="accordion">
    
    <div class="panel panel-default">
      
      <div class="panel-heading">
        <h4 class="panel-title accordianTitle">
          <a class="accordion-toggle accordianTitle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            Stats
          </a>
        </h4>
      </div>

      <div id="collapseOne" class="panel-collapse collapse">
        <div class="panel-body">
          <div class="info" >
            <ul class="average"> 
            	<li>
            		Average: <%= @bowler.average %>
            	</li>
            	<li>
            		Best Game: <%= @bowler.best %>
            	</li>
            	<li>
            		Worst Game: <%= @bowler.worst %>
            	</li>
            	<li>
            		Last Game: <%= @bowler.try(:individual_games).last.try(:score) %>
            	</li>
						</ul>
          </div>
        </div>

      </div>
    </div>

    <div class="panel panel-default">

      <div class="panel-heading">
        <h4 class="panel-title accordianTitle">
          <a class="accordion-toggle accordianTitle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            New Game
          </a>
        </h4>
      </div>

      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
         	<div>
          	<div id="form">
            	<h5> New Game</h5>
            	<%= form_for @game, :html => {:class => "score_board"} do |f| %>
                <table class="score_table">
                  <tr>
                    <th>1</th>
                    <th>2</th>
                    <th>3</th>
                    <th>4</th>
                    <th>5</th>
                    <th>6</th>
                    <th>7</th>
                    <th>8</th>
                    <th>9</th>
                    <th>10</th>
                    <th>Final</th>
                  </tr>
                  <tr>
    								<%= f.fields_for :frames do |d| %>
    									<td><%= d.text_field :frame_1_a %>
    									<%= d.text_field :frame_1_b %></td>
    									<td><%= d.text_field :frame_2_a %>
    									<%= d.text_field :frame_2_b %></td>
    									<td><%= d.text_field :frame_3_a %>
    									<%= d.text_field :frame_3_b %></td>
    									<td><%= d.text_field :frame_4_a %>
    									<%= d.text_field :frame_4_b %></td>
    									<td><%= d.text_field :frame_5_a %>
    									<%= d.text_field :frame_5_b %></td>
    									<td><%= d.text_field :frame_6_a %>
    									<%= d.text_field :frame_6_b %></td>
    									<td><%= d.text_field :frame_7_a %>
    									<%= d.text_field :frame_7_b %></td>
    									<td><%= d.text_field :frame_8_a %>
    									<%= d.text_field :frame_8_b %></td>
    									<td><%= d.text_field :frame_9_a %>
    									<%= d.text_field :frame_9_b %></td>
    									<td><%= d.text_field :frame_10_a %>
    									<%= d.text_field :frame_10_b %>
    									<% end %>
    								<td><%= f.text_field :score %></td>
                  </tr>
                </table>
								<%= hidden_field_tag :bowler_id, current_bowler.id %>
								<%= f.submit %>
							<% end %>
        		</div>
        	</div>
      	</div>
    	</div>

  	</div>
  
  	<div class="panel panel-default">
   		<div class="panel-heading">
      <h4 class="panel-title accordianTitle">
        <a class="accordion-toggle accordianTitle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Join New Team
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <div id='form'>
          <%= form_for @team do |f| %>
            <%= f.label :name %>
            <%= f.text_field :name %>
            <%= f.submit %>
          <% end %>
        </div>
	    </div>
	  </div>

	</div>
</div>



