%h2 Enter Scores

.form
	= form_for @game do |f|
		= f.fields_for :frames do |d|
			= d.label :frame_1
			= d.text_field :frame_1_a
			= d.text_field :frame_1_b
			= d.label :frame_2
			= d.text_field :frame_2_a
			= d.text_field :frame_2_b
			= d.label :frame_3
			= d.text_field :frame_3_a
			= d.text_field :frame_3_b
			= d.label :frame_4
			= d.text_field :frame_4_a
			= d.text_field :frame_4_b
			= d.label :frame_5
			= d.text_field :frame_5_a
			= d.text_field :frame_5_b
			= d.label :frame_6
			= d.text_field :frame_6_a
			= d.text_field :frame_6_b
			= d.label :frame_7
			= d.text_field :frame_7_a
			= d.text_field :frame_7_b
			= d.label :frame_8
			= d.text_field :frame_8_a
			= d.text_field :frame_8_b
			= d.label :frame_9
			= d.text_field :frame_9_a
			= d.text_field :frame_9_b
			= d.label :frame_10
			= d.text_field :frame_10_a
			= d.text_field :frame_10_b
			= d.text_field :frame_10_c
		= f.label :final_score
		= f.text_field :score
		= f.submit


	/ = form_for('/individual_games', method: 'post') do
	/ 	= d.label :frame_1
	/ 	= text_field_tag :frame_1_a
	/ 	= text_field_tag :frame_1_b
	/ 	= label_tag :frame_2
	/ 	= text_field_tag :frame_2_a
	/ 	= text_field_tag :frame_2_b
	/ 	= label_tag :frame_3
	/ 	= text_field_tag :frame_3_a
	/ 	= text_field_tag :frame_3_b
	/ 	= label_tag :frame_4
	/ 	= text_field_tag :frame_4_a
	/ 	= text_field_tag :frame_4_b
	/ 	= label_tag :frame_5
	/ 	= text_field_tag :frame_5_a
	/ 	= text_field_tag :frame_5_b
	/ 	= label_tag :frame_6
	/ 	= text_field_tag :frame_6_a
	/ 	= text_field_tag :frame_6_b
	/ 	= label_tag :frame_7
	/ 	= text_field_tag :frame_7_a
	/ 	= text_field_tag :frame_7_b
	/ 	= label_tag :frame_8
	/ 	= text_field_tag :frame_8_a
	/ 	= text_field_tag :frame_8_b
	/ 	= label_tag :frame_9
	/ 	= text_field_tag :frame_9_a
	/ 	= text_field_tag :frame_9_b
	/ 	= label_tag :frame_10
	/ 	= text_field_tag :frame_10_a
	/ 	= text_field_tag :frame_10_b
	/ 	= text_field_tag :frame_10_c
	/ 	= label_tag :final_score
	/ 	= text_field_tag :score
	/ 	= submit_tag