<!DOCTYPE html>
<html ng-app>
<head>
  <title>BowlTracker</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
 	<%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="header">
		<h1 class="title">Bowl Tracker</h1>
	</div>

	<nav> 
		<ul>
			<li>Do things</li>
			<li><%= link_to "Sign Out", destroy_bowler_session_path, method: 'delete' if current_bowler %></li>
		</ul>
	</nav>

	<div class="main">
		<p class="notice">
			<% if notice %>
				<% notice.each do |n| %>
					<li><%= n %>
				<% end %>
			<% end %>
		</p>
  	<p class="alert">
  		<% if alert %>
				<% alert.each do |a| %>
					<li><%= a %></li>
				<%end %>
			<% end %>
		</p>
  	<%= yield %>
	</div>

</body>
</html>