<!DOCTYPE html>
<html>
<head>
  <title>BowlTracker</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p>
		<%= link_to "Sign Out", destroy_bowler_session_path, method: 'delete' if current_bowler %>
	</p>
	<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
